<!-- Ficheiro: src/app/components/machine-status-panel/machine-status-panel.component.html -->
<div class="panel-container">
  <h2 class="panel-title">Controle de horas trabalhadas</h2>
  <div class="table-header">
    <span></span> <!-- Coluna vazia para o nome da máquina -->
    <span>Horas Trabalhadas</span>
    <span>Dias Trabalhados</span>
  </div>
  <div class="table-body">
    <!-- Usamos *ngFor para criar uma linha para cada máquina na nossa lista -->
    <div class="table-row" *ngFor="let maquina of listaDeMaquinas">
      <span class="machine-name">{{ maquina.nome }}</span>
      <span class="machine-data">{{ maquina.horasTrabalhadas }}</span>
      <span class="machine-data">{{ maquina.diasTrabalhados }}</span>
    </div>
  </div>
</div>